.App {
  background: linear-gradient(to bottom, #2c3e50, #34495e);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.gameBody {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

#screen {
  padding: 20px;
  border-radius: 10px;
  background: #f1f1f1;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

#Button {
  border-radius: 20px;
  padding: 10px 20px;
  background: #3498db;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
}

#Button:hover {
  background: #2980b9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}